* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(180deg, #313C48, #313C48); /*(180deg, #533cd8, #e7e0ff);          313C48           283842       */
  font-family: Segoe UI, serif;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 42px;
  border-bottom: 1px solid #4A5568; /* rgba(255, 255, 255, 0.2) #515c6e */
}

header h1 {
  font-size: 50px;
  color: white;
  font-weight: bolder;
}



.container {
  width: 100%;
  max-width: 1100px;
  color: white;
}


/* Für die themen Überschriften */
.container h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 12px;
}


/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}


/* CARD */
.card {
  background: #F8F9FA; /* 2a3447 mit hellerem hintergrund auch nice*/
  color: #ffffff;
  border-radius: 12.5px;
  
  padding: 20px;
  transition: 0.2s ease;

  min-height: 130px;
}

.card:hover {
  transform: translateY(-3px);
  border-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 0 10px 15px #505e6e69;
}


.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.card h2 {
  font-size: 22px;
  color: #3a4259;
  font-weight: 720;
}

.card p {
  color: #4d5469;
  font-size: 13.5px;
  margin-bottom: 14px;
  font-weight: 520;
}



.btn {
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid aqua;
  border-radius: 5px;
  text-decoration: none;
  color: #7dd3fc;
  transition: 0.2s;
}

.btn:hover {
  background: rgba(0, 255, 157, 0.08);
  border-color: aqua;
  color: white;
}





